.content {
  max-width: 830px;
  padding: 30px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

header {
  display: grid;
  grid-template-columns: 85% 15%;
}
.title {
  margin-bottom: 30px;
}
.mainTitle {
  font: 3em bold black;
}
.subTitle {
  font: 2em lighter black;
}
.logo {
  width: 80px;
  height: 80px;
}

.main {
  column-count: 2;
}
.dish {
  display: block;
  /*grid-column-gap: 1em;*/
  /*align-items: end;*/
  max-width: 350px;
  padding: 14px 5px;
  clear: both;
  line-height: 1.3em;
}
.divName {
  width: 90%;
  float: left;
}
.dishName {
  font-weight: bold;
}
.dishType {
  font-size: 0.8em;
  font-weight: bold;
  color: darkseagreen;
}
.divPrice {
  float: right;
  text-align: right;
}
.divAdd {
  clear: both;
}

.divTriangle {
  display: block;
  margin-top: 40px;
}
.triangle {
  float: left;
  width: 0px;
  height: 0px;
  border-width: 0px 0px 20px 20px;
  border-style: solid;
  border-color: transparent transparent darkseagreen;
  margin: 2px;
}
.triangle.pink {
  border-color: transparent transparent pink;
}
.newLine {
  clear: both;
}
.thirdTitle {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 4px;
  clear: both;
}

.divSides {
  column-count: 2;
}
.sides {
  display: grid;
  grid-template-columns: 90% 10%;
  padding: 2px 5px;
}
.sidePrice {
  justify-self: end;
}
.divSides > div:nth-child(odd) {
  background: #ddd;
}
