.sliderArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(175, 223, 207, 0.5);
}
.slider {
  margin: 0 5%;
}
.sliderImg {
  text-align: center;
  z-index: -1;
  animation: scroll 0.5s ease-in-out;
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
